<div class="attending-event-container">
	<% unless @attending.empty? %>
	  	<% @attending.each do |commitment| %>
		  	<% if commitment.event.not_passed %>
		  	<% movie = Movie.find_movie(commitment.event.rt_id) %>
					<div class="profile-event-container">
						<div class="event-banner" style="background-image: url(<%= movie.poster.gsub("tmb", "det") %>)">
						  <%= link_to image_tag(commitment.event.host.avatar, id:"profile-host-avatar"), user_event_path(commitment.event.host, commitment.event)%>
						</div>
						<div class="profile-event-title">
							<center><b><%= link_to user_event_path(commitment.event.host, commitment.event) do %>
							<%= commitment.event.title %> in <%= ((commitment.event.time - Time.now)/86400).ceil %> Days</b></center>
							<% end %>
						</div>
						<div class="profile-event-details">
							<% if commitment.event.attendees != [] %>
								<% commitment.event.attendees.each do |a| %>
										<%= image_tag("#{a.avatar_url(:thumb)}", id: "attendee-thumb") %>
										<span class="guests-total medium-caps">
											<%= Commitment.where(event: commitment.event, user: a).first.guests %>
										</span>
								<% end %>
							<% else %>
								<p>You have no guests confirmed</p>
							<% end %>
						</div>
					</div>
		 	 <% end %>
	 	<% end %>
	<% else %>
		<p class="no-data-filler">
			<% if @user == current_user %>
				You are not signed up for any events currently
			<% else %>
				<%= @user.first_name %> is not attending any events currently
			<% end %>
		</p>
	<% end %>
</div>
<div id="attending-pagination"><center><%= paginate @attending, :remote => true, :param_name => "attending_page" %></center></div>

<div class="small-caps"><center><%= page_entries_info @attending %></center></div>