<%= form_for @user, :html => {:multipart => true} do |f|%>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>      
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio, :size => "25x3", maxlength: 150, class: "message" %>
  </div>
  <div class="countdown"></div>
  <div class="field">
    <%= f.label :hometown %>
    <%= f.text_field :hometown %>
  </div>
  <div class="actions">
    <%= f.submit class: "button expand" %>
  </div>
<% end %>



