<p>Account</p>
<p class="small-caps remove-lh">Change your basic account settings and information.</p>

<hr>

<%= form_for @user, :html => {:multipart => true} do |f|%>

  <%= render 'user_errors' %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>      
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio, :size => "25x3", maxlength: 150, class: "message" %>
  </div>
  <div class="countdown"></div>
  <div class="field">
    <%= f.label :hometown %>
    <%= f.text_field :hometown %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "button expand" %>
  </div>
<% end %>

<center><%= link_to "Delete Account", user_path(@user), data: { confirm: 'Are you sure you would like to delete your account?' }, class:'small-caps', method: :delete %></center>



