<%= form_for @user, :html => {:multipart => true} do |f|%>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h5>Form is invalid</h5>
      <ul>
        <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm New Password" %>
    <%= f.password_field :password_confirmation %>
  </div>   
  <div class="actions">
    <%= f.submit "Update Password", class: "button expand" %>
  </div>
<% end %>