<p>Password</p>
<p class="small-caps remove-lh">Change your password or find out current password.</p>

<hr>

<%= form_for @user, :html => {:multipart => true} do |f|%>
  <div class="field">
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm New Password" %>
    <%= f.password_field :password_confirmation %>
  </div>   
  <div class="actions">
    <%= f.submit "Update Password", class: "button expand" %>
  </div>
<% end %>