<% if @ratings %>
	<% @ratings.each do |rating| %>
	<p>
		<% if rating.id != nil %>
			<strong><%= Movie.find_movie(rating.rt_id).title %></strong><br /><br />
			<i><%= rating.review %></i><br /><br/>
			<% width = ((rating.user_score.to_i/5.to_f) * 100.to_i).to_i %>
			<div class="rating_bar">
				<div class="rating" style= "width:<%= width %>%"></div>
			</div><br>
			<div class="small-caps"><%= rating.created_at %></div>
			<% if current_user == @user %>
			<%= link_to "Edit", edit_user_rating_path(@user, rating), class:"small-caps"%>
			<%= link_to "Remove", user_rating_path(@user, rating), data: { confirm: 'Are you sure?' }, class:"small-caps", method: :delete %>
			<% end %>
			<hr>
		<% end %>
	</p><br />
	<% end %>
<% end %>