<h1>User List</h1>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :user_search, params[:user_search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<div>
	<% @users.each do |user| %>
		<p>
			<%= user.first_name %> <%= user.last_name %>
			<%= link_to "Add Friend", friendships_path(friend_id: user.id), method: :post %>
		</p>
	<% end %>
</div>


