<div id="container">
	<div class="row" id:"profile-row">
		<div class="large-3 small-12 columns" id="profile-picture">
			<div class="row">
				<div class="large-12 columns" id="profile-image">
					<%= image_tag @user.avatar_url(:profile), id: 'image-profile'%>
				</div>
				<div class="large-12 columns" id="profile-content">
					<% if current_user == @user %>
					  <%= link_to "Edit Profile", edit_user_path(@user), class:'small-caps' %> | <%= link_to "Delete Account", user_path(@user), data: { confirm: 'Are you sure?' }, class:'small-caps', method: :delete%>
          <% end %>
            <p><%=@user.first_name%> <%=@user.last_name%></p>
            <p>Joined on: <%=@user.created_at%></p>
					<div>
						<% if @user.hometown == nil %>
							<p>No address yet</p>
						<% else %>
							<b>Hometown: <%= @user.hometown %></b>
						<% end %>
						<% if @user.bio == nil %>
							<p>No bio yet</p>
						<% else %>
							<p><%= @user.bio %></p>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="large-1 columns"></div>

		<div class="large-8 small-12 columns" id="profile-section">
    	<h4>Recent Updates</h4>
	  	<ul>
	  		<% unless @user.hosted_events.empty? %>
			    <% @user.hosted_events.each do |event| %>
				    <% if event.not_passed %>
					    <li>
					      <%= link_to event.title, user_event_path(@user, event) %>
					    </li>
				    <% end %>
			    <% end %>
			<% else %>
				<p><%= @user.first_name %> has no hosted events currently</p>
			<% end %>
	  	</ul>

	  	<h4>Joined Events</h4>
			<ul>
				<% unless @user.commitments.empty? %>
				  	<% @user.commitments.each do |commitment| %>
					  	<% if commitment.event.not_passed %>
						 	<li>
						    <%= link_to commitment.event.title, user_event_path(commitment.event.host, commitment.event) %>
						  	</li>
					 	 <% end %>
				 	<% end %>
				<% else %>
					<p><%= @user.first_name %> is not attending any events currently</p>
				<% end %>
			</ul>
    </div>

  </div>

  <br/>

	<div class="row" id="friend-row">
		<div class="large-3 small-12 columns" id="friend-section">


					<b>Friends&nbsp;(
						<% friendCount = 0 %>
						<% @user.friendships.each do |friendship| %>
							<% if friendship.confirm %>
								<% friendCount += 1 %>
							<% end %>
						<% end %>
						<%= friendCount %>
					)

					</b><br>
		
    <div id="incoming-requests">
		<%= render :partial => "incoming_friendships" %>
    </div>
	<div id="current-friends">
		<%= render :partial => "current_friends" %>
	</div>

		</div>

		<div class="large-1 columns"></div>

		<div class="no-pad-left no-pad-right large-8 small-12 columns" id="tab-section chart-radius">
			<dl class="tabs" data-tab>
			  <dd class="active"><a href="#p1" id="left-tab">Ratings</a></dd>
			  <dd><a href="#p2" id="center-tab">Genres</a></dd>
			  <dd><a href="#p3" id="center-tab">Actors</a></dd>
			  <dd><a href="#p4" id="right-tab">Directors</a></dd>
			</dl>
			<div class="tabs-content">
				<div class="content active" id="p1">
					<div id="chart4"></div>
				</div>
				<div class="content" id="p2">
					<div id="chart"></div>
				</div>
				<div class="content" id="p3">
					<div id="chart2"></div>	
				</div>
				<div class="content" id="p4">
					<div id="chart3"></div>
				</div>
			</div>
		</div>
	</div>

	<br />
<!-- Reviews -->
	<div class="row" id:"wishlist-row">
		<div class="large-3 small-12 columns" id="review-section">
			<div class="row">
				<div class="large-12 columns">
					<b>Recent Reviews</b><br/><br/>
					<div id="review-list">
						<%= render :partial => "ratings" %>
					</div>
					<div id="ratings-pagination"><%= paginate @ratings, :remote => true %></div>
				</div>
				<div class="large-12 columns">
				</div>
			</div>
		</div>
		<div class="large-1 columns"></div>
<!-- Wishlist -->
		<div class="large-8 small-12 columns" id="wish-section">
			<b>Wishlist</b><br /><br />
			<% unless @user.movie_interests.empty? %>
				<ul id="featured1 inline-list" data-orbit>
					<% count = 0 %>
				  	<li>
						<% @user.movie_interests.each do |movie| %>
							<% count += 1 %>
							<% if count % 10 == 0 %>
								<% return true %>
							<% else %>

							<div class="car-img-container">
								<% sleep(0.2) %>
								<img class= "car-img" src="<%= Movie.find_movie(movie.rt_id).poster %>" style="float:left; padding-right:5px;" />
								<% if current_user.id == @user.id %>
									<%= link_to "Remove", user_movie_interest_path(@user,movie), data: { confirm: 'Are you sure?' }, method: :delete %>
								<% end %>
							</div>
								<% if count % 3 == 0 %>
									</li>
									<li>
								<% end %>
							<% end %> 
					 	<% end %>
					</li>
				</ul>
			<% else %>
				<p>No movie interests yet</p>
			<% end %>		
		</div>
	</div>
</div>

<script>

	$(document).on('ready page:load', function() {
		
		//Insert no data message for empty charts

		if($('#chart4').is(':empty')) { 
			$("#chart4").append("<h4>No data available</h4>");
		}
		if($('#chart').is(':empty')) { 
			$("#chart").append("<h4>No data available</h4>");
		}
		if($('#chart2').is(':empty')) { 
			$("#chart2").append("<h4>No data available</h4>");
		}
		if($('#chart3').is(':empty')) { 
			$("#chart3").append("<h4>No data available</h4>");
		}
	});

	var chart = c3.generate({
		bindto: '#chart',
		data: {
			columns: gon.genres,
			type: 'donut',
			hide: true,
      hide: ['Other']
    },
    donut: {
      title: "Favourite Genres",
      width: 80
    }
  });

	var chart2 = c3.generate({
		bindto: '#chart2',
		data: {
			columns: gon.actors,
			type: 'donut',
			hide: true,
      hide: ['Other']
    },
    donut: {
      title: "Favourite Actors",
      width: 80
    }
  });

	var chart3 = c3.generate({
		bindto: '#chart3',
		data: {
			columns: gon.directors,
			type: 'donut',
			hide: true,
      hide: ['Other']
    },
    donut: {
      title: "Favourite Directors",
      width: 80
    }
  });

	var chart4 = c3.generate({
		bindto: '#chart4',
    data: {
      columns: [
      gon.average
      ],
      type: 'gauge',
    },
    color: {
      pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the four color levels for the percentage values.
      threshold: {
//            unit: 'value', // percentage is default
//            max: 200, // 100 is default
values: [30, 60, 75, 100]
}
},
});


</script>
