<h1>Profile</h1>
<%= image_tag @user.avatar_url(:profile) %>
<p> <%= @user.first_name %> <%= @user.last_name %> </p>

<h2>Friends</h2>
<% if @user.incoming_friendships != [] %>
	<h3>Friend Requests</h3>
	<% @user.incoming_friendships.each do |friendship| %>
		<%= friendship.user.first_name %> <%= friendship.user.last_name %> <%= link_to "Accept", friendships_path(friend_id: friendship.user.id), method: :post %>
	<% end %>	
<% end %>
<hr>
<ul>
	<% @user.friendships.each do |friendship| %>
	<% if friendship.confirm %>
		<li>
			<%= friendship.friend.first_name %> <%= friendship.friend.last_name %>
			<%= link_to "remove", friendship_path(friendship, friend_id: friendship.friend.id), method: :delete %>
		</li>
	<% end %>
	<% end %>
</ul>

<h2>Wish List</h2>

<ul>
	<% @user.movie_interests.each do |movie| %>
		<li>
			<%=	Movie.find_movie(movie.rt_id).title %>
			<%= link_to "remove", user_movie_interest_path(@user,movie), method: :delete %>
		</li>
	<% end %>
</ul>


<h4>Recent Reviews</h4>

<div id="review-list">
	<%= render :partial => "ratings" %>
</div>