<h2>Profile</h2>
<%= image_tag @user.avatar_url(:profile) %>
<p> <%= @user.first_name %> <%= @user.last_name %> </p>

<h2>Friends</h2>
<% if @user.incoming_friendships != [] %>
	<h3>Friend Requests</h3>
	<% @user.incoming_friendships.each do |friendship| %>
		<%= friendship.user.first_name %> <%= friendship.user.last_name %> <%= link_to "Accept", friendships_path(friend_id: friendship.user.id), method: :post %> <%= link_to "Reject", friendship_path(friendship), method: :delete %>
	<% end %>	
<% end %>
<hr>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1">Tab 1</a></dd>
  <dd><a href="#panel2">Tab 2</a></dd>
  <dd><a href="#panel3">Tab 3</a></dd>
  <dd><a href="#panel4">Tab 4</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel2">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel3">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel4">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div>

	

<div id="chart"></div>

<script>

	var chart = c3.generate({
		bindto: '#chart',
		data: {
			columns: gon.genres,
			type: 'pie'
		},
	});

</script>

<h4>Hosted Events</h4>

<ul>
	<% @events.each do |event| %>
		<% if event.time > Time.now %>
			<li>
				<%= event.title %>
			</li>
		<% end %>
	<% end %>
</ul>

<h4>Joined Events</h4>
<ul>
	<% @userCommitments.each do |commitment| %>
		<% if commitment.event.time > Time.now %>
			<li>
				<%= commitment.event.title %>
			</li>
		<% end %>
	<% end %>
</ul>

<h4>Friends</h4>

<ul>
	<% @user.friendships.each do |friendship| %>
	<% if friendship.confirm %>
		<li>
			<%= friendship.friend.first_name %> <%= friendship.friend.last_name %>
			<%= link_to "remove", friendship_path(friendship, friend_id: friendship.friend.id), method: :delete %>
		</li>
	<% end %>
	<% end %>
</ul>

<h4>Wish List</h4>

<ul>
	<% @user.movie_interests.each do |movie| %>
		<li>
			<%=	Movie.find_movie(movie.rt_id).title %>
			<%= link_to "remove", user_movie_interest_path(@user,movie), method: :delete %>
		</li>
	<% end %>
</ul>


<h4>Recent Reviews</h4>

<div id="review-list">
	<%= render :partial => "ratings" %>
</div>