<h1>Profile</h1>
<%= image_tag @user.avatar_url(:profile) %>
<p> <%= @user.first_name %> <%= @user.last_name %> </p>

<h2>Friends</h2>

<ul>
	<% @user.friendships.each do |friendship| %>
	<% if friendship.confirm %>
		<li>
			<%= friendship.friend.first_name %> <%= friendship.friend.last_name %>
			<%= link_to "remove", friendship, method: :delete %>
		</li>
	<% end %>
	<% end %>
</ul>