<div class="container">
	<%= render :partial => "chart_toggle" %>
	<div class="row" id="status-row">
		<div class="large-3 medium-3 small-12 columns" id="status-space">
			<%= image_tag @user.avatar_url(:profile), id: 'profile-image'%>
			<div id="profile-info">	
				<p class="profile-name"><b><%=@user.first_name%> <%=@user.last_name%></b></p>
				<div>
					<% if @user.bio == nil %>
						<p>No bio yet</p>
					<% else %>
						<p><%= @user.bio %></p>
					<% end %>
					<% if @user.hometown == nil %>
						<p>No address yet</p>
					<% else %>
						<div class="location-card"><span class="location-marker"><%= image_tag 'location_marker.png', size:"25" %></span><span class="hometown-location medium-caps"><%= @user.hometown %></span></div>
					<% end %>
				</div><br>
	      <p class="small-caps">Joined on: <%=@user.created_at%></p>
			</div>
		</div>
		<div class="large-7 medium-7 small-7 columns" id="status-details">
			<dl class="tabs" data-tab>
			  <dd class="active animate">
			  	<a href="#p1" id="left-tab">HOSTING</a>
			  	<% count_host = 0 %>
			  	<% @user.hosted_events.each do |event| %>
						<% if event.not_passed %>
							<% count_host += 1%>
						<% end %>
			  	<% end %>
					<span class="profile-counts"><center><%= count_host %></center></span>
			  </dd>
			  <dd class="animate">
			  	<a href="#p2" id="center-tab">ATTENDING</a>
			  	<% count_attend = 0 %>
			  	<% @user.commitments.each do |commitment| %>
						<% if commitment.event.not_passed %>
							<% count_attend += 1%>
						<% end %>
			  	<% end %>
					<span class="profile-counts"><center><%= count_attend %></center></span>
			  </dd>
			  <dd class="animate">
			  	<a href="#p3" id="center-tab">FRIENDS</a>
					<span class="profile-counts"><center><%= @user.friendships.where(confirm: true).count %></center></span>
			  </dd>
			  <dd class="animate">
			  	<a href="#p4" id="center-tab">REVIEWS</a>
					<span class="profile-counts"><center><%= @user.ratings.length %></center></span>
			  </dd>
			  <dd class="animate">
			  	<a href="#p5" id="right-tab">WISHLIST</a>
			  	<% count_wish = 0 %>
			  	<% @user.movie_interests.each do |movie_interest| %>
			  		<% if movie_interest.wished %>
			  			<% count_wish += 1 %>
			  		<% end %>
			  	<% end %>
			  	<span class="profile-counts"><center><%= count_wish %></center></span>
			  </dd>
			</dl>
		</div>
		<div class="large-2 medium-2 small-12 columns" id="edit-profile-btn">
			<% if current_user == @user %>
				<%= link_to "Edit Profile", edit_user_path(@user), class:"button tiny radius"%>
      <% end %>
		</div>
	</div>

	<div class="row" id="user-content-row">
		<div class="large-9 medium-9 small-12 columns" id="user-tab-content">
			<div class="tabs-content">
				<div class="content active" id="p1">
				<div class="section-heading"><b>Hosted Events</b></div>
					<%= render :partial => "hosted_events" %>
				</div>
				<div class="content" id="p2">
					<div class="section-heading"><b>Joined Events</b></div>
					<%= render :partial => "attending_events" %>
				</div>
				<div class="content" id="p3">
					<div id="current-friends">
    				<%= render :partial => "current_friends" %>
    			</div>
  			</div>
			
				<div class="content" id="p4">
					<div class="section-heading"><b>Reviews <%= link_to "(view all)", user_ratings_path(@user), class:"small-caps"%></b></div><br/>
					<div id="review-list">
						<%= render :partial => "ratings" %>
					</div>
				</div>
				<div class="content" id="p5">
					<div class="section-heading"><b>Wishlist</b></div>
					<div id="wish-section">
						<%= render :partial => "wishlist" %>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

	

<script>

	var chart = c3.generate({
		bindto: '#chart',
		data: {
			columns: gon.genres,
			type: 'donut',
			hide: true,
      hide: ['Other']
    },
    legend: {
    	position: 'inset',
    	inset: {
    		anchor: 'bottom-right',
    		x:10,
    		y:100
    	}
    },
    donut: {
      title: "Favourite Genres",
      width: 80
    }
  });

	var chart2 = c3.generate({
		bindto: '#chart2',
		data: {
			columns: gon.actors,
			type: 'donut',
			hide: true,
      hide: ['Other']
    },
    legend: {
    	position: 'inset',
    	inset: {
    		anchor: 'bottom-right',
    		x:10,
    		y:100
    	}
    },
    donut: {
      title: "Favourite Actors",
      width: 80,
    }
  });

	var chart3 = c3.generate({
		bindto: '#chart3',
		data: {
			columns: gon.directors,
			type: 'donut',
			hide: true,
      hide: ['Other']
    },
    legend: {
    	position: 'inset',
    	inset: {
    		anchor: 'bottom-right',
    		x:10,
    		y:100
    	}
    },
    donut: {
      title: "Favourite Directors",
      width: 80
    }
  });

	var chart4 = c3.generate({
		bindto: '#chart4',
    data: {
      columns: [
      gon.average
      ],
      type: 'gauge',
    },
    color: {
      pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the four color levels for the percentage values.
      threshold: {
//            unit: 'value', // percentage is default
//            max: 200, // 100 is default
values: [30, 60, 75, 100]
}
},
});


</script>
