<% @event.comments.each do |comment| %>
  <% if comment.id %>
    <div class="comment">
      <p class="comment">
        <%= comment.content %>
      </p>
      <div class="poster">
        <% if comment.user == @event.host %>
          <b><em>Posted by <%= comment.user.first_name %> on <%= comment.created_at %></em></b>
        <% else %>  
          <em>Posted by <%= comment.user.first_name %> on <%= comment.created_at %></em>
        <% end %>  
      </div>
    </div>
  <% end %>  
<% end %>