<%= form_for([@user, @event]) do |f|%>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "2", id: "new-event-description" %>
  </div>      
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, size: "90" %>
  </div>
    <div class="field">
    <%= f.label :time %>
    <%= f.datetime_select :time, :minute_step => 5 %>
  </div>
  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity, {min: 1, value: 1} %>
  </div>
  <div class="actions">
    <%= f.submit class: "button expand" %>
  </div>
<% end %>