<section class="event">
	<% @events.each do |event| %>
	<% movie = Movie.find_movie(event.rt_id) %>
		<div id="event-wrapper">
			<div id="event-poster" style="background-image: url(<%= movie.poster %>);">
			</div>
			<div id="event-content">
				<%= image_tag("#{event.host.avatar.thumb}", id: "avatar-thumb")%>
				<b><%= link_to(event.title, user_event_path(event.host_id, event.id)) %>&nbsp;(<%=event.commitments.sum(:party_size)%>/<%= event.capacity%>)</b>
				<span id="host-by">Hosted by: <%= event.host.first_name %> <%= event.host.last_name %></span>
				<p><%= event.description %></p>
				<p><b>Showing:&nbsp;</b><%= movie.title %></p>
				<p><b>Friends pop'n in:</b></p>
				<% event.attendees.each do |a| %>
				<%= image_tag("#{a.avatar_url(:thumb)}", id: "avatar-thumb") %>
				<% end %>
				<% if event.attendees.include?(current_user) %>
					<b>You're attending!</b>
				<% else %>
					<b><%= link_to("Join Now!", user_event_path(event.host_id, event.id)) %></b>
				<% end %>
			</div>	
		</div>
	<% end %>
</section>