<section class="event">
	<% @events.each do |event| %>
	<br>
			<%= image_tag("#{event.host.avatar.thumb}")%>
		<fieldset>
			<b>Hosted by: <%= event.host.first_name %> <%= event.host.last_name %></b>
			<legend><%= event.title %>&nbsp;(<%=event.commitments.sum(:party_size)%>/<%= event.capacity%>)</legend>
			<p><%= event.description %></p>
			<br>
		</fieldset>
	<% end %>
</section>