<section class="event">
	<% @events.each do |event| %>
		<li>
			<%= image_tag("#{event.host.avatar.thumb}")%>
			<h4><%= event.title %>&nbsp;(<%=event.commitments.sum(:party_size)%>/<%= event.capacity%>)</h4>
			<b>Hosted by: <%= event.host.first_name %> <%= event.host.last_name %></b>
			<%= event.description %>
		</li>
	<% end %>
</section>