<section class="event">
	<% @events.each do |event| %>
		<br>
			<%= image_tag("#{event.host.avatar.thumb}", id: "avatar-thumb")%>
			<b>Hosted by: <%= event.host.first_name %> <%= event.host.last_name %></b>
		<fieldset>
			<legend><b><%= link_to(event.title, user_event_path(event.host_id, event.id)) %>&nbsp;(<%=event.commitments.sum(:party_size)%>/<%= event.capacity%>)</b></legend>
			<p><%= event.description %></p>
			<p><b>Showing:&nbsp;</b><%= Movie.find_movie(event.rt_id).title %></p>
			<p><b>Friends pop'n in:</b></p>
			<% event.attendees.each do |a| %>
			<%= image_tag("#{a.avatar_url(:thumb)}", id: "avatar-thumb") %>
			<% end %><br>
			<% if event.attendees.include?(current_user) %>
				<b>You're attending!</b>
			<% else %>
				<b><%= link_to("Join Now!", user_event_path(event.host_id, event.id)) %></b>
			<% end %>
			<br>
		</fieldset>
	<% end %>
</section>
