<h4>Create Your Event</h4><br />

<%= form_for([@user, @event], url: user_events_path(user_id: current_user), html: {method: :post}) do |f|%>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 90 %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :size => 90 %>
  </div>      
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, :size => 90 %>
  </div>
    <div class="field">
    <%= f.label :time %>
    <%= f.datetime_select :time, :minute_step => 5 %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.number_field :capacity, {min: 1, value: 1} %>
  </div><br />

    <div class="input-container">
      <%= f.hidden_field :rt_id, value: "" %>
    </div> 

    <div class="actions">
      <%= f.submit class: "button expand" %>
    </div>
  </fieldset>
<% end %>