<%= form_for [@user, @event], html: {id: "new_movie_form"} do |f|%>
  <fieldset id="event-details">
    <legend>Create Event</legend>
    <div class="input-container" id="title">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="input-container" id="description">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>      
      <div class="input-container" id="time">
      <%= f.label :time %><br />
      <%= f.datetime_select :time, :minute_step => 5 %>
    </div>
    <div class="input-container" id="capacity">
      <%= f.label :capacity %><br />
      <%= f.number_field :capacity %>
    </div>
    <div class="input-container" id="address">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </div><br />

    <div class="input-container">
      <%= f.hidden_field :rt_id, value: "" %>
    </div> 

    <div class="actions">
      <%= f.submit %>
    </div><br />
  </fieldset>
<% end %>