
<div id="row">
	<div id="all-event-container">
		<div class= "large-4 small-12 columns" id="side-bar" style="overflow: scroll">
			<div class="wrapper">
				<input type="text" value="" name="search_location" class="search-field" id="search-field" placeholder="Search">
				<input type="submit" value="Subscribe" name="subscribe" id="submit-button" class="">
			</div>
			<br/>
			<%= render 'event' %>
		</div>
	</div>

		<div class="large-8 small-0 columns" id="map-container">	
			<%= render 'map' %>
		</div>
	</div>
</div>



<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :user_search, params[:user_search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>