<h1>Title: <%= @event.title %></h1>
<h3>Host: <%= @event.host.first_name %></h3>
<p>Capacity: <%= @event.capacity %> </p>
<p>Confirmed Guests: <%= @event.commitments.sum(:party_size) %></p>
<%= form_for([@event, @commitment], url: user_commitments_path(user_id: current_user.id, event_id: params[:id])) do |f| %>
	<% if @commitment.errors.any? %>
    <!-- For some reason, the errors are not being displayed -->
    <!-- The validations are for capacity being a number > 0 -->
    <!-- and that the event capacity is not exceeded -->
    <div id="error_explanation">
      <h2><%= pluralize(@commitment.errors.count, "error") %> prohibited this commitment from being saved:</h2>

      <ul>
      <% @commitment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	  <%= f.label :party_size %><br />
	  <%= f.number_field :party_size %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>