<fieldset>
  <%= image_tag @event.host.avatar_url(:thumb) %>
  <legend>Event:</legend>
  <h1>Title: <%= @event.title %></h1>
  <% if @event.attendees.include?(current_user) %>
    <%= image_tag "star.png" %>
  <% end %>
  <h3>Hosted by: <%= @event.host.first_name %> <%= @event.host.last_name %></h3>

  <%= image_tag @event.host.avatar_url(:thumb) %>

  <h4>Description: <%= @event.description %></h4>
</fieldset>
<fieldset>
  <legend>Movie:</legend>
  <h3>Title: <%= @movie.title %></h3>
  <h4>Year: <%= @movie.year %></h4>
  <%= image_tag @movie.poster %>
  <p><b>Cast:</b> <% @movie.cast.each do |actor| %>
    <i><%= actor["name"] %> /</i> 
  <% end %></p>
  <p><b>Critics Rating:</b> <%= @movie.rating[0] %> <b><%= @movie.rating[1] %>%</b> </p>
  <% if @movie.consensus != "" %>
    <p><b>Synopsis:</b> <%= @movie.synopsis %></p>
  <% else %>
    <p><b>Synopsis:</b> <i>not available</i></p>
  <% end %>
  <% if @movie.consensus != "" %>
    <p><b>Critics Consensus:</b> <%= @movie.consensus %></p>
  <% end %>
</fieldset>
<fieldset>
  <legend>Who's going:</legend>
  <p>Capacity: <%= @event.capacity %> </p>
  <p>Confirmed Guests: <%= @event.commitments.sum(:party_size) %></p>
  <% if @event.commitments %>
    <% @event.commitments.each do |commitment| %>
      <% if commitment.id %>
        <%= link_to user_path(commitment.user) do %>
          <p><%= commitment.user.first_name %> <i><%= commitment.guests %></i></p>
          <%= image_tag commitment.user.avatar_url(:thumb) %> 
        <% end %>  
      <% end %>  
    <% end %>
  <% end %>
</fieldset>
<fieldset>
  <legend>Comments:</legend>
  <div id="comment-list">
    <%= render :partial => "comments" %>
  </div>
  <h4>Add Comment</h4>

  <%= form_for([@event.host, @event, @comment], :remote => true) do |f| %>
  <div id="comment-form-errors">
    <%= render :partial => "comment_form_errors" %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Add Comment", id: "submit-comment" %>
  </div>

<% end %>
</fieldset>


<%= render 'commitments/form' %>

<script type="text/javascript">
  $(function() {
     $("#new_comment")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("#submit-comment") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
        .on('ajax:complete', function() {
          $("#submit-comment")
            .val('Create Comment')
            .removeAttr('disabled');
        });
  });
</script>
