<div class="container">
  <div class="row">
    <div class="large-4 columns">
      <div class="content" id="movie-details">
        <%= render 'movie_details' %>
      </div>
      <% if @event.host != current_user %>
        <%= render 'commitments/form' %>
      <% end %>
    </div>

    <div class="large-8 small-12 columns">
      <div id="event-details" class="form-styling">
        <%= render 'event_details' %>
      </div>
    </div>
          
    <div class="large-8 small-12 columns">  
      <div id="comments">     

        <%= form_for([@event.host, @event, @comment], :remote => true) do |f| %>
          <div id="comment-form-errors">
            <%= render :partial => "comment_form_errors" %>
          </div>

          <div class="field">
            <%= f.text_area :content, :size => "35x3", maxlength: 500, placeholder: "Leave a comment...", class: "message" %>
          </div>

          <div class="actions">
            <%= f.submit "Add Comment", id: "edit-button", class: "button tiny" %>
          </div>
        <% end %>

        <div id="comment-list">
          <% unless @EventComments.any? %>
            <p id="empty-comments">Leave a comment!</p>
          <% end %>
          <%= render :partial => "comments" %>
        </div>

      </div> 
    </div> 

  </div>
</div>

<script type="text/javascript">
  $(function() {
    $("#new_comment").on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
      $("#submit-comment") // make changes to the submit button
        .val('Saving...') // change the text on the button
        .attr('disabled', 'disabled'); // disable the button
      })
    .on('ajax:complete', function() {
      $("#submit-comment")
      .val('Create Comment')
      .removeAttr('disabled');
    });
  });
</script>
