<br />
<div class="row">
  <div class="large-4 columns">
    <div class="content" id="movie-details">
    <%= image_tag @movie.poster, id: "event-page-poster" %>
      <h4><%= @movie.title %> (<%= @movie.year %>)</h4><br />
      <p><b>Critics Rating:</b> <%= @movie.rating[0] %> <b><%= @movie.rating[1] >= 0 ? @movie.rating[1] : "-" %>%</b> 
      </p> 
      <p><b>Cast:</b> <% @movie.cast.each do |actor| %>
          <i><%= actor["name"] %> /</i> 
        <% end %>
      </p>
      <% if current_user == @event.host %>
        <%= link_to "Edit Event", edit_user_event_path(@event.host, @event), class: "edit-buttons" %> | 
        <%= link_to "Cancel Event", user_event_path(@event.host, @event), data: { confirm: 'Are you sure you would like to cancel the event?' }, method: :delete, class: "edit-buttons" %>
      <% end %>
    </div>
    <% if @event.host != current_user %>
      <%= render 'commitments/form' %>
    <% end %>
  </div>


  <div class="large-8 small-12 columns">
    <div id="event-details">
      <h1><%= @event.title %></h1><br />
      <h4>Hosted by: <%= link_to user_path(@event.host) do %>
        <%= image_tag @event.host.avatar_url(:thumb), id: "avatar-thumb" %> <%= @event.host.first_name %> <%= @event.host.last_name %>
        <% end %>
      </h4><br />
      <h5><i><strong><%=@event.date_details%></strong></i></h5>
      <h5><%= @event.address %></h5>  
      <% if !@event.not_passed %>
        <b><h5>This event has passed!</h5></b>
      <% end %> 
      <h5><%= @event.description %></h5>
      <div class="panel">
        <p><strong>Capacity:</strong> <%= @event.capacity %> </p>
        <p><strong>Confirmed Guests:</strong> <%= @event.commitments.sum(:party_size) %></p>
      </div>
      <% if @event.commitments %>
        <ul class="small-block-grid-3">
        <% @event.commitments.each do |commitment| %>
          <% if commitment.id %>
      <div class="attendees">
            <li><p><%= link_to user_path(commitment.user) do %>
              <%= commitment.user.first_name %> <i><%= commitment.guests %></i>
              <%= image_tag commitment.user.avatar_url(:thumb), id: "avatar-thumb" %></p></li>
        </div>
            <% end %>  
          <% end %>  
        <% end %>
        </ul>
      <% end %>        
    </div>
  </div>
          
    <div class="large-8 small-12 columns">  
      <!-- <div id="comments">      -->

        <%= form_for([@event.host, @event, @comment], :remote => true) do |f| %>
          <div id="comment-form-errors">
            <%= render :partial => "comment_form_errors" %>
          </div>

          <div class="field">
            <%= f.text_area :content, :size => "35x3", maxlength: 500, placeholder: "Leave a comment...", class: "message" %>
          </div>
          <div class="actions">
            <%= f.submit "Add Comment", id: "edit-button", class: "button tiny" %>
          </div>
        <% end %>

        <div id="comment-list">
          <%= render :partial => "comments" %>
        </div>
      <!-- </div>  -->
    </div> 

    </div>
    <script type="text/javascript">
      $(function() {
       $("#new_comment")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("#submit-comment") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
          })
        .on('ajax:complete', function() {
          $("#submit-comment")
          .val('Create Comment')
          .removeAttr('disabled');
        });
      });
    </script>
