<fieldset>
  <legend>Event:</legend>
  <h1>Title: <%= @event.title %></h1>
  <h3>Hosted by: <%= @event.host.first_name %> <%= @event.host.last_name %></h3>
  <h4>Description: <%= @event.description %></h4>
  <%= image_tag @event.host.avatar_url(:thumb) %>
</fieldset>
<fieldset>
  <legend>Movie:</legend>
  <h3>Title: <%= @movie.title %></h3>
  <h4>Year: <%= @movie.year %></h4>
  <%= image_tag @movie.poster %>
  <p><b>Cast:</b> <% @movie.cast.each do |actor| %>
    <i><%= actor["name"] %> /</i> 
  <% end %></p>
  <p><b>Critics Rating:</b> <%= @movie.rating[0] %> <b><%= @movie.rating[1] %>%</b> </p>
  <p><b>Synopsis:</b> <%= @movie.synopsis %></p>
  <% if @movie.consensus != "" %>
    <p><b>Critics Consensus:</b> <%= @movie.consensus %></p>
  <% end %>
</fieldset>
<fieldset>
  <legend>Who's going:</legend>
  <p>Capacity: <%= @event.capacity %> </p>
  <p>Confirmed Guests: <%= @event.commitments.sum(:party_size) %></p>
  <% if @event.commitments %>
    <% @event.commitments.each do |commitment| %>
      <% if commitment.id %>
        <%= link_to user_path(commitment.user) do %>
          <p><%= commitment.user.first_name %> <i><%= commitment.guests %></i></p>
          <%= image_tag commitment.user.avatar_url(:thumb) %> 
        <% end %>  
      <% end %>  
    <% end %>
  <% end %>
</fieldset>
<!-- In the form_for, we specify the url since we are posting to a controller -->
<!-- other than the one in which we currently are; currently in EVENTS, and   -->
<!-- posting to COMMITMENTS. We also pass into the params the user_id and     -->
<!-- event_id in order to be able to associate the new commitment to the      -->
<!-- correct user and event; the assignment happens in the commitments        -->
<!-- controller create action.                                                -->
<%= form_for([@event, @commitment], url: user_commitments_path(user_id: current_user.id, event_id: params[:id])) do |f| %>
<% if params[:commitment_errors] %>
<!-- For some reason, the errors are not being displayed -->
<!-- The validations are for party size being a number>0 -->
<!-- and that the event capacity is not exceeded -->
<div id="error_explanation">
  <h2><%= pluralize(params[:commitment_errors].count, "error") %> prohibited this commitment from being saved:</h2>

  <ul>
    <% params[:commitment_errors].each do |message| %>
    <li><%= message[1][0] %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
 <%= f.label :party_size %><br />
 <%= f.number_field :party_size %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

