<h1>Explore Movies</h1>

<div id="search-block">
	<input type="text" id="search">
	<div class="search-results"></div>
</div>

<div id="movie-poster">
	<i>No Movie Selected</i>
</div><br />

<div class="movie-title"></div><br />
<div class="movie-score"></div><br />
<div class="movie-cast"></div>

<%= form_for([@user, @movie_interest], remote: true) do |f| %>

	<div class="field">
		<%= f.hidden_field :wished, value: "true" %>
		<%= f.hidden_field :rt_id, value: "" %>
	</div> 
	<div class="actions">
		<%= f.submit "Wish" %>
	</div>
<% end %>

<script id="menu_info" type="x-tmpl-mustache">

	<div data-year="{{year}}" 
			 data-cast="{{cast}}" 
			 data-id="{{id}}" 
			 data-title="{{title}}"
			 data-poster="{{posterOri}}"
			 data-icon = "{{icon}}"
			 data-critics_rating = "{{critics_rating}}" 
			 data-critics_score = "{{critics_score}}"

			 class="movie-click">

			 <img id="img-thumb" 
			 			align="left" 
			 			height="50" 
			 			src="{{posterThumb}}" />

			 	<i> <img height="13" src="{{icon}}" /> <i id="movie-title"> {{critics_score}} - <strong> {{title}} ({{year}}) </strong> </i>
 	</div>
</script>


<h5>Write a Review</h5>

<%= form_for([@user, @rating], url: user_ratings_path(current_user, @rating), :remote => true) do |f| %>		

	<div class="field">
    <%= f.label :review %><br />
    <%= f.text_area :review, :size => "45x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h5>User Review</h5>

<div id="review-list">
	<%= render :partial => "ratings" %>
</div>
