<!DOCTYPE html>
<html>
<head>
	<title>Popr</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api}" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div>
		<p id="notice"><%= flash[:notice] %></p>
		<p id="alert"><%= flash[:alert] %></p>
	</div>
	<% if current_user %>
	<p>Signed in as <%= current_user.first_name %> <%= current_user.last_name %> | <%= link_to "Logout", logout_path, method: :post %></p>
	<% end %>  
	<%= yield %>

</body>
</html>
